In [37]:
import pandas as pd
import numpy as np

In [105]:
dexcom_001 = pd.read_csv('Dexcom_001.csv')
dexcom_001 = dexcom_001[12:].reset_index().drop(columns=['index', 'Index'])
dexcom_001 = dexcom_001.rename(columns={'Timestamp (YYYY-MM-DDThh:mm:ss)': 'datetime'})
dexcom_001['datetime'] = pd.to_datetime(dexcom_001['datetime'], format='%Y-%m-%d %H:%M:%S')
dexcom_001['date'] = dexcom_001['datetime'].dt.date
dexcom_001['time'] = dexcom_001['datetime'].dt.time
dexcom_001

,datetime,Event Type,Event Subtype,Patient Info,Device Info,Source Device ID,Glucose Value (mg/dL),Insulin Value (u),Carb Value (grams),Duration (hh:mm:ss),Glucose Rate of Change (mg/dL/min),Transmitter Time (Long Integer),date,time
0,2020-02-13 17:23:32,EGV,NaN,NaN,NaN,iPhone G6,61.0,NaN,NaN,NaN,NaN,11101.0,2020-02-13,17:23:32
1,2020-02-13 17:28:32,EGV,NaN,NaN,NaN,iPhone G6,59.0,NaN,NaN,NaN,NaN,11401.0,2020-02-13,17:28:32
2,2020-02-13 17:33:32,EGV,NaN,NaN,NaN,iPhone G6,58.0,NaN,NaN,NaN,NaN,11701.0,2020-02-13,17:33:32
3,2020-02-13 17:38:32,EGV,NaN,NaN,NaN,iPhone G6,59.0,NaN,NaN,NaN,NaN,12001.0,2020-02-13,17:38:32
4,2020-02-13 17:43:31,EGV,NaN,NaN,NaN,iPhone G6,63.0,NaN,NaN,NaN,NaN,12301.0,2020-02-13,17:43:31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2556,2020-02-22 17:33:23,EGV,NaN,NaN,NaN,iPhone G6,139.0,NaN,NaN,NaN,NaN,789294.0,2020-02-22,17:33:23
2557,2020-02-22 17:38:23,EGV,NaN,NaN,NaN,iPhone G6,141.0,NaN,NaN,NaN,NaN,789594.0,2020-02-22,17:38:23
2558,2020-02-22 17:43:23,EGV,NaN,NaN,NaN,iPhone G6,143.0,NaN,NaN,NaN,NaN,789894.0,2020-02-22,17:43:23
2559,2020-02-22 17:48:22,EGV,NaN,NaN,NaN,iPhone G6,139.0,NaN,NaN,NaN,NaN,790194.0,2020-02-22,17:48:22
2560,2020-02-22 17:53:23,EGV,NaN,NaN,NaN,iPhone G6,129.0,NaN,NaN,NaN,NaN,790494.0,2020-02-22,17:53:23

In [107]:
eda_001 = pd.read_csv('EDA_001.csv')
eda_001['datetime'] = pd.to_datetime(eda_001['datetime'], format='%Y-%m-%d %H:%M:%S')
eda_001['date'] = eda_001['datetime'].dt.date
eda_001['time'] = eda_001['datetime'].dt.time
eda_001 = eda_001.rename(columns={' eda': 'eda'})
eda_001[:100]

                  datetime       eda        date             time
0  2020-02-13 15:28:50.000  0.000000  2020-02-13         15:28:50
1  2020-02-13 15:28:50.250  0.001281  2020-02-13  15:28:50.250000
2  2020-02-13 15:28:50.500  0.026905  2020-02-13  15:28:50.500000
3  2020-02-13 15:28:50.750  0.028186  2020-02-13  15:28:50.750000
4  2020-02-13 15:28:51.000  0.029467  2020-02-13         15:28:51
..                     ...       ...         ...              ...
95 2020-02-13 15:29:13.750  0.019218  2020-02-13  15:29:13.750000
96 2020-02-13 15:29:14.000  0.015374  2020-02-13         15:29:14
97 2020-02-13 15:29:14.250  0.015374  2020-02-13  15:29:14.250000
98 2020-02-13 15:29:14.500  0.016655  2020-02-13  15:29:14.500000
99 2020-02-13 15:29:14.750  0.016655  2020-02-13  15:29:14.750000

[100 rows x 4 columns]

In [108]:
food_log_001 = pd.read_csv('Food_Log_001.csv')
# food_log_001 = food_log_001.groupby('time_begin').sum().reset_index()
food_log_001 = food_log_001.rename(columns={'time_begin': 'datetime'})
food_log_001['datetime'] = pd.to_datetime(food_log_001['datetime'], format='%Y-%m-%d %H:%M:%S')
food_log_001['date'] = food_log_001['datetime'].dt.date
food_log_001['time'] = food_log_001['datetime'].dt.time
food_log_001['calorie'].dtype
food_log_001

,date,time,datetime,time_end,logged_food,amount,unit,searched_food,calorie,total_carb,dietary_fiber,sugar,protein,total_fat
0,2020-02-13,18:00:00,2020-02-13 18:00:00,NaN,Berry Smoothie,20.00,fluid ounce,Strawberry Smoothie,456.0,85.0,1.7,83.0,16.0,3.3
1,2020-02-13,20:30:00,2020-02-13 20:30:00,NaN,Chicken Leg,1.00,NaN,chicken leg,475.0,0.0,0.0,0.0,62.0,23.0
2,2020-02-13,20:30:00,2020-02-13 20:30:00,NaN,Asparagus,4.00,NaN,Asparagus,13.0,2.5,1.2,0.8,1.4,0.1
3,2020-02-14,07:10:00,2020-02-14 07:10:00,NaN,Natrel Lactose Free 2 Percent,8.00,fluid ounce,(Natrel) Lactose Free 2% Partly Skimmed Milk,120.0,9.0,NaN,8.0,12.0,NaN
4,2020-02-14,07:10:00,2020-02-14 07:10:00,NaN,Standard Breakfast,0.75,cup,"(Kellogg's) Frosted Flakes, Cereal",110.0,26.0,NaN,10.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2020-02-21,12:30:00,2020-02-21 12:30:00,NaN,Chicken Salad,0.50,cup,Chicken Salad,254.0,3.3,NaN,2.4,19.0,NaN
57,2020-02-21,12:30:00,2020-02-21 12:30:00,NaN,Pita Bread,7.00,NaN,Small Pita Bread,539.0,109.0,NaN,2.5,18.0,NaN
58,2020-02-21,19:50:00,2020-02-21 19:50:00,NaN,Cheese Pita,5.00,NaN,Generic - Serbian Cheese Pita,640.0,95.0,NaN,0.0,30.0,NaN
59,2020-02-21,20:00:00,2020-02-21 20:00:00,NaN,Spinach Smoothie,20.00,fluid ounce,Spinach Smoothie,308.0,69.0,NaN,38.0,7.2,NaN
60,2020-02-22,15:10:00,2020-02-22 15:10:00,NaN,Boost,NaN,NaN,NaN,654.0,82.0,5.6,40.0,26.0,26.0

In [111]:
hr_001 = pd.read_csv('HR_001.csv')
hr_001['datetime'] = pd.to_datetime(hr_001['datetime'], format='%m/%d/%y %H:%M')

# Reformat to the desired string format
hr_001['datetime'] = hr_001['datetime'].dt.strftime('%Y-%m-%d %H:%M:%S')
hr_001['datetime'] = pd.to_datetime(hr_001['datetime'], format='%Y-%m-%d %H:%M:%S')
hr_001 = hr_001.groupby('datetime').mean().reset_index()
hr_001 = hr_001.rename(columns={' hr': 'hr'})
hr_001['date'] = hr_001['datetime'].dt.date
hr_001['time'] = hr_001['datetime'].dt.time
hr_001

                 datetime         hr        date      time
0     2020-02-13 15:29:00  85.130500  2020-02-13  15:29:00
1     2020-02-13 15:30:00  92.563167  2020-02-13  15:30:00
2     2020-02-13 15:31:00  97.772833  2020-02-13  15:31:00
3     2020-02-13 15:32:00  99.167833  2020-02-13  15:32:00
4     2020-02-13 15:33:00  88.638333  2020-02-13  15:33:00
...                   ...        ...         ...       ...
10573 2020-02-22 17:52:00  78.644167  2020-02-22  17:52:00
10574 2020-02-22 17:53:00  75.798167  2020-02-22  17:53:00
10575 2020-02-22 17:54:00  71.135500  2020-02-22  17:54:00
10576 2020-02-22 17:55:00  78.740333  2020-02-22  17:55:00
10577 2020-02-22 17:56:00  82.787500  2020-02-22  17:56:00

[10578 rows x 4 columns]

In [112]:
%pwd

'/Users/adrianapsay/dsc106/project3/D3STROYERS/data'

In [113]:
dexcom_001.to_csv('/Users/adrianapsay/dsc106/project3/D3STROYERS/data/dexcom_001cleaned.csv')
eda_001.to_csv('/Users/adrianapsay/dsc106/project3/D3STROYERS/data/eda_001cleaned.csv')
food_log_001.to_csv('/Users/adrianapsay/dsc106/project3/D3STROYERS/data/food_log_001cleaned.csv')
hr_001.to_csv('/Users/adrianapsay/dsc106/project3/D3STROYERS/data/hr_001cleaned.csv')